.users {
  position: relative;

  .userTitle {
    align-items: center;
    display: flex;

    @include responsive($xs) {
      flex-direction: column;
    }
  }

  .userline {
    border: 1px solid $mediumgray;
    margin-left: 45px;
    margin-right: 40px;
    width: 100%;
  }

  h2 {
    font-size: 40px;
    margin:  15px 0;
  }

  .dataTable-search {
    position: absolute;
    right: 50px;
    top: 20px;
  }
}

.dataTable-table {

  table {
    width: 100%;
  }

  tr {
    height: 60px;

    th.filter {
      color: $green;
      cursor: pointer;
    }

    &.table--title {
      background: $white;
      height: auto;

      th {
        padding: 0;

        @include responsive($medium) {
          font-size: 14px;
        }

        @include responsive($small) {
          display: inline-block;
          font-size: 14px;
          margin: 10px 10px;
        }
      }

      &:hover {
        background: none;
      }
    }

    td {
      padding: 5px;
      text-align: center;
      vertical-align: middle;

      @include responsive($medium) {
        font-size: 12px;
      }

      @include responsive($small) {
        display: inline-block;
        margin: 5px 10px 0;
      }

      .posts {
        color: $green;
        cursor: url('../img/cursor.png' ), pointer;

      }

      .albums {
        @extend .posts;
      }

      &:last-child {
        width: 30px;
      }
    }

    .trash {
      color: $green;
      cursor: url('../img/cursor.png' ), pointer;
      display: none;
    }

    &:nth-child(even) {
      background: $lightgray;
    };

    &:nth-child(odd) {
      background: $white;
    }

    &:hover {
      background: $mediumgray;

      .trash {
        display: block;
      }
    }
  }
}


.input {
  position: relative;

  i {
    color: $bordercolor;
    left: 5px;
    position: absolute;
    top: 9px;
  }

  input {
    border-radius: 5px;
    border: 1px solid $bordercolor;
    height: 30px;
    padding: 0 25px;
    width: 220px;
  }
}

.loading {
  align-content: center;
  color: $green;
  display: flex;
  font-size: 80px;
  justify-content: center;

  .centericon {
    align-items: center;
    display: flex;
    height: 200px;
    width: 100px;
  }
}